{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block title %}{{ blog.title }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blogs/details.css' %}" type="text/css" media="screen" />
{% endblock %}

{% block body %}

<h2>{{ blog.title }}</h2>
{% if perms.blogs.change_blog %}
<a class="button" href="{% url 'blogs:edit' blog.id %}">Edit Blog</a>
{% endif %}

<p class="author"> <b>Author: </b> {{ blog.author }}</p>

<p class="dates"> <b>Published: </b> {{ blog.pub_date|date:"SHORT_DATETIME_FORMAT" }}</p>

{% if blog.is_edited %}
<p class="dates"> <em>Last edited:</em> {{ blog.last_edit_date|date:"SHORT_DATETIME_FORMAT" }}</p>

{% endif %}

<div class="blog-body">
    {{ blog.body|markdown|safe|escape }}
</div>

{% endblock %}
