{% extends 'base.html' %}
{% load static %}

{% block title %}News and Updates{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blogs/index.css' %}" >
{% endblock %}

{% block body %}

{% if perms.blogs.add_blog %}
<a class="button" href="{% url 'blogs:new' %}">Add Blog</a>
{% endif %}

{% for blog in blogs %}

<div class="blog">
    <h3>{{ blog.title }}</h3>
    <h5>{{ blog.body | truncatechars:100 }}</h5>
    <p>By: {{ blog.author }}</p>
    <p>Pub Date: {{ blog.pub_date|date:"SHORT_DATE_FORMAT" }}</p>
    <a href="{% url 'blogs:details' blog.id %}" class="blog"></a>
</div>

{% empty %}

<h3>No blogs so far</h3>

{% endfor %}

{% endblock %}
