{% extends 'base.html' %}
{% load static %}

{% block title %}News and Updates{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/blogs/index.css' %}" >
{% endblock %}

{% block body %}

{% if perms.blogs.add_blog %}
<a class="button" href="{% url 'blogs:new' %}">Add Blog</a>
{% endif %}

{% for blog in blogs %}

<div class="blog">
    <h2>{{ blog.title }}</h2>
    <p>{{ blog.body | truncatechars:100 }}</p>
    <em>
        <p>By: <b>{{ blog.author }}</b></p>
        <p>
            Pub Date: {{ blog.pub_date }}
            {% if blog.is_edited %}<br> Last Edit: {{ blog.last_edit_date }}{% endif %}
        </p>
    </em>
    <a href="{% url 'blogs:details' blog.id %}" class="blog"></a>
</div>

{% empty %}

<h3>No blogs so far</h3>

{% endfor %}

{% endblock %}
