{% extends 'base.html' %}
{% load static %}

{% block title %}McMaster Geeks Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}" >
{% endblock %}

{% block body %}

{% if events %}
<!-- events slide show -->
<div class="slideshow-container">
    {% for event in events %}

    <div class="mySlides fade">
        <div class="numbertext">{{ forloop.countr }}/{{ events|length }}</div>
        <img src="{{ event.banner.url }}">
        <div class="text"><h2>{{ event.title }}</h2></div>
    </div>

    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
{% else %}
<div>
    <img id="weekly" src="{% static 'img/weekly_events.png' %}" alt="Weekly Events">
</div>
{% endif %}

<!-- News and blogs -->
<div class="blogs">
    <h3>News and Updates</h3>
    {% for blog in blogs %}
    <a href="{% url 'blogs:details' blog.id %}">
        <div>
            <h4>{{ blog.title }}</h4>
            <p>{{ blog.body | truncatechars:100 }}</p>
        </div>
    </a>
    {% empty %}
    <h4>No updates</h4>
</div>
{% endfor %}

<script src="{% static 'js/slide.js' %}"></script>
{% endblock %}
