{% extends 'base.html' %}
{% load static %}

{% block title %}McMaster Geeks Club{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}" >
{% endblock %}

{% block body %}
<!-- events slide show -->
<div id="eventsCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in events %}
        <li data-target="#eventsCarousel" data-slide-to="{{ forloop.counter0 }}" {% if i == 0 %} class="active" {% endif %}></li>
        {% empty %}
        <li data-target="#eventsCarousel" data-slide-to="0" class="active" ></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for event in events %}
        <div class="carousel-item active">
            <a href="{% url 'event:details' event.id"><img class="d-block" src="{{ MEDIA_URL }}{{ event.banner }}" alt="{{ event.title }}"></a>
            <div class="carousel-caption d-none d-md-block">
                <h5>{{ event.title }}</h5>
                <p>{{ event.short_desc }}</p>
            </div>
        </div>
        {% empty %}
        <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/logo.png' %}" alt="Club Logo">
            <div class="carousel-caption d-none d-md-block">
                <h5>No Events Planned Right Now...</h5>
                <p>Don't worry, we probably have something coming very soon.</p>
            </div>
        </div>
        {% endfor %}
     </div>
    <a class="carousel-control-prev" href="#eventsCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#eventsCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- News and blogs -->
<div class="blogs">
    <h3>News and Updates</h3>
    {% for blog in blogs %}
    <a href="{% url 'blogs:details' blog.id %}">
        <div>
            <h4>{{ blog.title }}</h4>
            <p>{{ blog.body | truncatechars:100 }}</p>
        </div>
    </a>
    {% empty %}
    <h4>No updates</h4>
</div>
{% endfor %}
{% endblock %}
