/* #eventsCarousel { */
/*     height: 60vh; */
/*     width: 80vw; */
/*     margin: 1em auto; */
/* } */

/* #eventsCarousel div { */
/*     height: 100%; */
/* } */

#eventsCarousel img {
    height: 80% !important;
}

div.blogs {
    padding: 1em 10vw;
}

img#weekly {
    margin: 5vh auto;

    max-width: 90vw;
    max-height:70vh;

    display: block;
}
