#eventsCarousel img{
    /* height: 80% !important; */
    min-width: 50vw;
    max-height: 80vh !important;
    max-width: 80vh !important;
    margin: auto !important;

    object-fit: contain;
}

div.carousel-caption {
    background: rgb(0 0 0 / 21%) !important;
    box-shadow: inset 0 0 8px 1px #00000029;
}

div.blogs {
    padding: 1em 10vw;
}

img#weekly {
    margin: 5vh auto;

    max-width: 90vw;
    max-height:70vh;

    display: block;
}
