{% extends 'base.html' %}
{% load static %}

{% block title %}{{ member.user.first_name }}'sProfile{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/people/index.css' %}">
{% endblock %}

{% block body %}
<div class="main-section">

    {% if user.is_staff %}
    <a class="button" href="/admin/">Admin page</a>
    {% endif %}
    <br>

    {% if not member.is_member %}

    <a class="button" href="#">Request Membership, 10CAD(WIP)</a>
    <br>
    {% endif %}

    <br>
    {% if perms.people.make_member %}
    <a class="button" href="{% url 'people:membership' %}">See membership applications</a>
    {% endif %}
    {% if perms.people.see_member %}
    <br>
    <a class="button" href="{% url 'people:members' %}">See members</a>
    {% endif %}
    <br>
    <a class="button" href="{% url 'people:password' %}">Change Passowrd</a>
    <br>
    <a class="button" href="{% url 'people:logout' %}">Logout</a>
</div>
<div class="main-section">
    <h3>{{ member.user.first_name }} {{ member.user.last_name }}</h3>

    <p>Email: {{ member.user.email }}</p>

    {% if user.is_staff %}
    <p>
        Account groups: {% for group in user.groups.all %} {{ group.name }} {% endfor %}
    </p>
    <br>
    {% endif %}

    <br>
    {% if member.is_member %}
    Membership Number: {{ member.member_code }}
    <br>
    <img style="width:100; height:100" src="{% url 'people:qrcode' %}" alt="qrcode">
    {% endif %}

</div>
{% endblock %}
