{% extends 'base.html' %}
{% load static %}

{% block title %}{{ member.user.first_name }}'sProfile{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

<h3>{{ member.user.first_name }} {{ member.user.last_name }}</h3>

<p>Email: {{ member.user.email }}</p>

Account Type: {{ member.mem_type }}
<br>
{% if member.is_member %}
Membership Number: {{ member.member_code }}
{% else %}
<button>Request Membership</button>
<br>
Membership costs 10CAD. You will be contacted with instructions.
{% endif %}

<br>
<a href="{% url 'people:logout' %}">Logout</a>

{% endblock %}
