@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

body {
    padding: 0;
    margin: 0;

    color: black !important;
}

p {
    font-family: Roboto;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat;
    color: black;
}

#img-logo {
    margin: 0em auto;
    height: 5vh;
}

