{% extends 'base.html' %}
{% load custom_tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}" type="text/css" media="screen"/>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="form" >
    {% if argument %}
    <form action="{% url target argument %}" method="post" enctype="multipart/form-data">
    {% else %}
    <form action="{% url target %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <table class="form">
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                    <br>
                    {{ field.errors }}
                </td>
                <td>
                    {{ field }}
                </td>
                <td>
                    <small class="text-muted">{{ field.help_text|markdown|safe }}</small>
                </td>
            </tr>
        {% endfor %}
        </table>

        <input type="submit" value="{{ submit }}">
    </form>
</div>
{% endblock %}
