{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="fieldWrapper">
    {% if argument %}
    <form action="{% url target argument %}" method="post">
    {% else %}
    <form action="{% url target %}" method="post">
    {% endif %}
        {% csrf_token %}
        {% for field in form %}
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% endfor %}
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}
