{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="fieldWrapper" >
    {% if argument %}
    <form action="{% url target argument %}" method="post" enctype="multipart/form-data">
    {% else %}
    <form action="{% url target %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <table style="width:80vw">
        {% for field in form %}
            <tr>
                <td>
                    {{ field.label_tag }}
                    <br>
                    {{ field.errors }}
                </td>
                <td>
                    {{ field }}
                </td>
            </tr>
        {% endfor %}
        </table>

        <input type="submit" value="{{ submit }}">
    </form>
</div>
{% endblock %}
