{% extends 'base.html' %}
{% load static %}

{% block title %}Events{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/events/index.css' %}" type="text/css" media="screen"/>
{% endblock %}

{% block body %}

{% if perms.events.add_event %}
<a class="button" href="{% url 'events:new' %}">Add Event</a>
{% endif %}

{% for event in events %}

<div class="event-item" style="background-image: url( {{ event.banner.url }} );">
        <h2>{{ event.title }}</h3>
        <h4>{{ event.short_desc }}</h5>
        <p>{{ events.start_time|date:"SHORT_DATETIME_FORMAT" }}</p>
        <a href="{% url 'events:details' event.id %}" class="event-item"></a>
    </div>

{% empty %}

<h3>No Events planned.</h3>

{% endfor %}

{% endblock %}
